<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.linrty.netdisk.file.mapper.UserFileMapper">

    <select id="selectPageVo" parameterType="top.linrty.netdisk.file.domain.po.UserFile" resultType="top.linrty.netdisk.file.domain.vo.FileListVO">
        select * from userfile a
        left join image on a.file_id = image.file_id
        left join file on file.file_id = a.file_id
        <where>
            <if test="fileTypeId != null">
                <choose>
                    <when test="fileTypeId != 5">
                        extend_name in (select file_extend_name from fileclassification where file_type_id = #{fileTypeId})
                    </when>
                    <otherwise>
                        extend_name not in (select file_extend_name from fileclassification where file_type_id in (1, 2, 3, 4))
                    </otherwise>
                </choose>
                and a.is_dir = 0
            </if>
            <if test="userFile.userId != null">
                and a.user_id = #{userFile.userId}
            </if>
            <if test="userFile.filePath != null">
                and a.file_path = #{userFile.filePath}
            </if>
            <if test="userFile.extendName != null">
                and a.extend_name = #{userFile.extendName}
            </if>
            <if test="userFile.userFileId != null">
                and a.user_file_id = #{userFile.userFileId}
            </if>
            <if test="userFile.fileName != null">
                and a.file_name = #{userFile.fileName}
            </if>
            and a.delete_flag = 0
        </where>
        ORDER BY is_dir desc
    </select>

    <select id="selectUserFileByLikeRightFilePath" resultType="top.linrty.netdisk.file.domain.po.UserFile">
        select * from userfile
        where (file_path = #{filePath} or file_path like concat(#{filePath},'/%')) and user_id = #{userId} and delete_flag = 0
    </select>

    <select id="selectStorageSizeByUserId" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT SUM(file_size) FROM userfile
        LEFT JOIN file ON file.file_id = userfile.file_id
        WHERE userfile.user_id = #{userId}
    </select>


    <select id="selectFilePointCount" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*) from userfile
        where file_id = #{fileId}
    </select>

    <select id="selectRepeatUserFile" parameterType="java.lang.String" resultType="top.linrty.netdisk.file.domain.po.UserFile">
        select file_name, file_path from userfile
        where  user_id = #{userId} and file_path like #{filePath} and is_dir = 1 and delete_flag = 0
        group by file_name, file_path
        having count(file_name) >= 2
    </select>

</mapper>